.result__order {
  padding: 0 1rem;
  text-align: center;
}
.result__order option {
  text-align: left;
}
.result__itemProduct {
  display: flex;
  align-items: center;
  gap: var(--gap-cardList);
  padding: 1.5rem;
}