@import './components/header/header.css';
@import './components/nav/nav.css';
@import './components/footer/footer.css';
@import './pages/home/home.css';
@import './pages/product/product.css';
@import './pages/cart/cart.css';
@import './components/modal/modal.css';
@import './pages/checkout/information/information.css';
@import './pages/checkout/delivery/delivery.css';
@import './pages/checkout/payment/payment.css';
@import './pages/about/about.css';
@import './pages/results/results.css';

:root {
    --background-principal: #faeee7;
    --background-secondary:#fffffe;
    --background-tertiary:#f8f8f8;
    --background-quaternary:#fff4f4;
    --headline: #33272a;
    --sub-headline: #594a4e;
    --paragraph: #594a4e;
    --button: #ff8ba7;
    --buttonText: #33272a;
    --stroke: #33272a;
    --main: #fffffe;
    --highlight: #ff8ba7;
    --secondary: #ffc6c7;
    --tertiary: #c3f0ca;
    --card-background: #594a4e;
    --card-headline: #33272a;
    --card-paragraph: #594a4e;
    
    /* Font*/
    --baseFont: 'Nunito', sans-serif;

       /* Text styles*/
   
   /* --title: 2rem;
   --subtitle: 1rem;
   --paragraph:;
   --nav-item: ;
   --nav-text: ;
   --button-text:;
   --title-card:;
   --text-card: ;
   --price-text-card: ;
   --button-text-card: ;
   --title-product: ;
   --subtitle-product: ;
   --price-text-product: ;
   --info-product:; */

   /**/
   --navbar-height: 91.88px;

   --gap-cardList: 1.5rem;
   --gap-card: 1rem;
   --gap-item: 1.5rem;
   --gap-detail: 2rem;
   --blockquote: 4rem;
   --blockquoteText: 2rem;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}

@media (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}



/* ::-webkit-scrollbar {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

::-webkit-scrollbar-track {
  background: var(--card-background);
  border-radius: 4px;
  height: 1px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background: #d4d4d4;
} */

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background-principal);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--background-principal);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--card-background);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: var(--button-hover);
}

/* Sections */
.section {
  padding: 6.5rem 0;
}
.section__title {
  margin-bottom:3rem;
}
.section__description {
  margin-bottom: 3rem;
}
.section__titleDecoration {
  position: relative;

}
.section__titleDecoration::after {
  content: '';
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 96px; /*6rem*/
  height: 4px;
  background-color: var(--headline);
  text-align: center;
  bottom: -24px;
  left: 0;
  right: 0;
}