.product__options {
  margin-bottom: 7.5rem;
}

.product__information {
  margin: 7.5rem 0;
}

.product__description {
  margin-bottom: 3rem;
}

.product__detailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-detail);
}

.product__imageGeneralContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  /* height: 500px; */
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

.product__imageGeneralContainer .product__imagePrincipal {
  aspect-ratio: 1/1;
}

.product__imageGeneralContainer:hover .product__imageContainer--two {
  opacity: 1;
  transform: scale(1.5);
}

.product__imageContainer--two {
  position: absolute;
  padding: 1rem;
  top: 0;
  opacity: 0;
  transition: transform ease-in .3s, opacity ease-in .2s;
}

.product__colorContainer {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

.product__colorContainer:hover {
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.product__color {
  width: 36px;
  height: 36px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.product__quantity {
  height: 100%;
  width: 100%;
}

.product__buttonQuantityContainer {
  width: 30%;
}

.product__buttonQuantity {
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__buttonQuantity:hover {
  cursor: pointer;
}

.product__inputQuantity {
  height: 100%;
  width: 40%;
  padding: 1rem;
}

.product__imageProductContainer {
  gap: var(--gap-card);
}

.product__imageProductWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.product__imageProductWrapper:hover .product__imageProductAnimation {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.product__imageProductAnimation {
  opacity: .5;
}

.product__imageProduct {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height: 100%; */
}